@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-black {
  font-weight: 900;
  color: #8e8e8e;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#courses {
  font-family: Arial, Helvetica, sans-serif;
}